# Local Environment Secrets
.env

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Build/Dist folders (if applicable later)
dist/
build/